<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SVG Animation Full</title>
    <div class="figure-line"></div>
  <style>

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  </style>
</head>
<div class="triggers-trust">
        <ul>
                            <li>
                    <div class="img">
                        <svg version="1.1" id="mySVG1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 570.3 463.2" style="enable-background:new 0 0 570.3 463.2;" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: none;
                          stroke: #D96A43;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st1 {
                          fill: none;
                          stroke: #969696;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st2 {
                          fill: none;
                          stroke: #A3A3A3;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st3 {
                          fill: none;
                          stroke: #969696;
                          stroke-width: 2;
                          stroke-miterlimit: 10;
                      }

                      .st4 {
                          fill: #D96A43;
                      }
                  </style>
                            <g>
                                <path class="st0" d="M506.3,462c38.8-48.5,62-109.9,62-176.8C568.3,128.8,441.6,2,285.2,2S2,128.8,2,285.2

                      C2,352.1,25.2,413.5,64,462" style="stroke-dasharray: 1272, 1274; stroke-dashoffset: 0;"></path>
                            </g>
                            <path class="st1" d="M352,375.6L352,214.6" style="stroke-dasharray: 161, 163; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M453.4,147.9L453.4,375.6" style="stroke-dasharray: 228, 230; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M338.6,152.9L338.6,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M307.4,152.9L307.4,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M276.3,152.9L276.3,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M245.1,152.9L245.1,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M213.9,152.9L213.9,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M182.8,152.9L182.8,207.5" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M121.8,128.3L176.4,207.5" style="stroke-dasharray: 97, 99; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M377.8,128.3" style="stroke-dasharray: 0, 2; stroke-dashoffset: 0;"></path>
                            <path class="st3" d="M422,119.8" style="stroke-dasharray: 0, 2; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M352,207.5L352,166.6L453.4,147.9L453.5,171.9L484.9,119.8" style="stroke-dasharray: 229, 231; stroke-dashoffset: 0;"></path>
                            <path class="st1" width="207.3" height="7.1" d="M149.6 207.5 L356.9 207.5 L356.9 214.6 L149.6 214.6 Z" style="stroke-dasharray: 429, 431; stroke-dashoffset: 0;"></path>
                            <g>
                                <path class="st4" d="M149.2,179H145v10.9h-2.9v-23.7h2.9v10.2h4.2c0.7-6.1,5.3-10.6,11.7-10.6c7,0,11.8,5.3,11.8,12.2

                      c0,7-4.8,12.2-11.8,12.2C154.2,190.3,149.6,185.5,149.2,179z M169.6,178.1c0-5.5-3.4-9.6-8.7-9.6c-5.3,0-8.7,4.1-8.7,9.6

                      c0,5.5,3.4,9.6,8.7,9.6C166.2,187.7,169.6,183.6,169.6,178.1z" style="stroke-dasharray: 191, 193; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M175,189.9l7.6-9.4l-7.6-7.8h3.4l7.4,7.6v-7.6h2.7v7.5l7.4-7.5h3.4l-7.6,7.8l7.7,9.4h-3.4l-6.2-7.7l-1.2,1.2

                      v6.5h-2.7v-6.5l-1.2-1.2l-6.2,7.7H175z" style="stroke-dasharray: 138, 140; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M214.1,189.9l-6.2-7.7L205,185v4.9h-2.7v-17.1h2.7v9.1l9-9.1h3.4l-7.6,7.8l7.6,9.4H214.1z" style="stroke-dasharray: 93, 95; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M231.3,189.9v-2c-1.4,1.6-3.4,2.4-5.7,2.4c-2.9,0-6-2-6-5.7c0-3.8,3.1-5.6,6-5.6c2.3,0,4.3,0.7,5.7,2.3v-3.1

                      c0-2.3-1.8-3.6-4.3-3.6c-2.1,0-3.7,0.7-5.3,2.4l-1.2-1.8c1.8-1.9,4-2.8,6.8-2.8c3.6,0,6.6,1.6,6.6,5.8v11.8H231.3z M231.3,186.2

                      V183c-1-1.4-2.8-2.1-4.7-2.1c-2.5,0-4.2,1.6-4.2,3.8c0,2.2,1.7,3.7,4.2,3.7C228.5,188.4,230.3,187.7,231.3,186.2z" style="stroke-dasharray: 110, 112; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M238.3,180.5c0-8.3,3-11.8,9-12.6c3.8-0.6,4.8-1,4.8-1.7h2.6c0,2.8-3.8,3.5-6.7,3.9c-5.1,0.7-6.6,2.9-7.2,5.8

                      c1.2-2,3.4-3.7,6.5-3.7c4.9,0,8,4.1,8,8.9c0,4.9-3.2,9-8.4,9C241.6,190.3,238.3,186.2,238.3,180.5z M252.5,181.2

                      c0-3.4-2-6.6-5.7-6.6c-3.7,0-5.7,3.1-5.7,6.6c0,3.5,2.1,6.7,5.7,6.7C250.5,187.9,252.5,184.8,252.5,181.2z" style="stroke-dasharray: 133, 135; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M258.8,181.3c0-5,3.5-9,8.4-9c5.2,0,8.2,4,8.2,9.2v0.7h-13.9c0.2,3.2,2.5,5.9,6.2,5.9c2,0,3.9-0.8,5.3-2.2

                      l1.3,1.7c-1.7,1.7-4,2.6-6.8,2.6C262.4,190.3,258.8,186.6,258.8,181.3z M267.2,174.5c-3.7,0-5.5,3.1-5.6,5.7h11.2

                      C272.8,177.7,271.1,174.5,267.2,174.5z" style="stroke-dasharray: 111, 113; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M277.7,188.1c1.6,0,2.6-1.8,3.3-6.9l1.1-8.4H294v17.1h-2.7v-14.8h-6.9l-0.8,6.4c-0.8,6.4-2.6,8.8-5.9,8.8

                      V188.1z" style="stroke-dasharray: 91, 93; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M302,172.7v6.6h6.4c3.5,0,5.4,2.4,5.4,5.3c0,2.8-1.9,5.3-5.4,5.3h-9.1v-17.1H302z M302,181.7v5.8h6.1

                      c1.9,0,2.9-1.2,2.9-2.9c0-1.7-1-2.9-2.9-2.9H302z" style="stroke-dasharray: 87, 89; stroke-dashoffset: 0;"></path>
                            </g>
                            <path class="st1" d="M127.8,387.3L127.8,375.5L474.4,375.5L474.4,387.3" style="stroke-dasharray: 371, 373; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M115.8,399L115.8,387.3L486.4,387.3L486.4,399" style="stroke-dasharray: 394, 396; stroke-dashoffset: 0;"></path>
                            <path class="st1" width="421.3" height="11.8" d="M90.4 399 L511.70000000000005 399 L511.70000000000005 410.8 L90.4 410.8 Z" style="stroke-dasharray: 867, 869; stroke-dashoffset: 0;"></path>
                            <g>
                                <path class="st4" d="M104.4,318.8v-42.4l-7.7,8.2l-2.5-2.7l10.6-11.2h3.7v48H104.4z" style="stroke-dasharray: 129, 131; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M121.1,313.4l2.4-3c2.3,3.1,5.3,5.3,10.5,5.3c10.6,0,14.2-11,14.2-21.1c0-0.7,0-1.4,0-2.2

                      c-2.1,3.3-7.6,8.1-14.1,8.1c-8.6,0-15.5-5-15.5-15.3c0-7.8,5.9-15.3,16.1-15.3c13,0,17.6,12,17.6,24.8c0,12.3-5.1,24.8-18.4,24.8

                      C127.7,319.5,123.9,317,121.1,313.4z M147.9,288.6c-0.6-6.6-4-14.9-13-14.9c-8.2,0-12.1,6.3-12.1,11.5c0,7.8,5.2,11.6,12,11.6

                      C140,296.8,145.1,293.4,147.9,288.6z" style="stroke-dasharray: 273, 275; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M181.8,318.8v-13.1H159V302l21.3-31.3h5.5v31.2h7.1v3.7h-7.1v13.1H181.8z M181.8,274.8l-18.5,27.1h18.5V274.8z

                      " style="stroke-dasharray: 228, 230; stroke-dashoffset: 0;"></path>
                                <path class="st4" d="M197.8,311.6l2.8-2.4c2.7,3.8,7.3,6.7,13.5,6.7c7.4,0,12.1-3.9,12.1-10.2c0-6.9-5.7-9.7-12.9-9.7

                      c-1.9,0-3.7,0-4.5,0.1v-3.9c0.7,0.1,2.5,0.1,4.5,0.1c6.3,0,12.2-2.7,12.2-9.1c0-6-5.3-9.3-11.5-9.3c-5.5,0-9.4,2.2-12.9,6.1

                      l-2.6-2.6c3.4-4.1,8.7-7.3,15.7-7.3c8.4,0,15.5,4.5,15.5,12.7c0,7.3-6.2,10.5-10.3,11.2c4.2,0.4,11,4,11,12c0,7.9-6,13.8-16.2,13.8

                      C206.3,319.6,200.5,315.9,197.8,311.6z" style="stroke-dasharray: 239, 241; stroke-dashoffset: 0;"></path>
                            </g>
                            <path class="st1" width="256" height="11.3" d="M121.8 116.9 L377.8 116.9 L377.8 128.20000000000002 L121.8 128.20000000000002 Z" style="stroke-dasharray: 535, 537; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M422,119.8L377.8,128.3L377.8,116.9L422,108.4Z" style="stroke-dasharray: 113, 115; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M422,108.4L484.9,108.4L484.9,119.8L422,119.8" style="stroke-dasharray: 138, 140; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M155.7,214.6L155.7,249.4" style="stroke-dasharray: 35, 37; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M155.7,340.8L155.7,375.6" style="stroke-dasharray: 35, 37; stroke-dashoffset: 0;"></path>
                </svg>
                    </div>
                    <span>Працює з 1943 року</span>
                </li>
                            <li>
                    <div class="img">
                        <svg version="1.1" id="mySVG2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-12 189.7 570.3 463.2" style="enable-background:new -12 189.7 570.3 463.2;" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: none;
                          stroke: #D96A43;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st1 {
                          fill: none;
                          stroke: #969696;
                          stroke-width: 4;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                      }

                      .st2 {
                          fill: #F56A3F;
                      }
                  </style>
                            <g>
                                <path class="st0" d="M501.7,652.9c38.8-48.5,62-109.9,62-176.8c0-156.4-126.7-283.2-283.1-283.2S-2.6,319.7-2.6,476.1

                      c0,66.9,23.2,128.3,62,176.8" style="stroke-dasharray: 1272, 1274; stroke-dashoffset: 0;"></path>
                            </g>
                            <path class="st1" d="M427.9,511.1c-19.2,63.3-78,109.4-147.6,109.4c-69.5,0-128.3-46-147.6-109.2" style="stroke-dasharray: 394, 396; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M131.8,424.1C150.1,359.4,209.6,312,280.2,312s130.1,47.4,148.4,112.1" style="stroke-dasharray: 400, 402; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M173.3,511.3c6.9,30.4,21.6,62.9,48,96.4c0,0,62.2-35.8,119.3,0" style="stroke-dasharray: 234, 236; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M340.6,325.2c-57.2,35.8-119.3,0-119.3,0s-35.3,39.1-48.2,99" style="stroke-dasharray: 237, 239; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M387.4,511.1c-6.8,30.4-21.6,63-48.1,96.6" style="stroke-dasharray: 109, 111; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M339.3,325.2c0,0,35.3,39.1,48.2,99" style="stroke-dasharray: 112, 114; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M280.5,511.1L280.5,591.8" style="stroke-dasharray: 81, 83; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M280.5,341L280.5,424.1" style="stroke-dasharray: 84, 86; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M227.7,511.3c2.7,29.8,10.5,59.1,26.7,84" style="stroke-dasharray: 90, 92; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M254.5,337.5c0,0-14.4,37.2-22.5,86.6" style="stroke-dasharray: 90, 92; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M335.5,511c-2.7,29.9-10.5,59.3-26.7,84.3" style="stroke-dasharray: 90, 92; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M308.8,337.5c0,0,14.4,37.2,22.5,86.6" style="stroke-dasharray: 90, 92; stroke-dashoffset: 0;"></path>
                            <g>
                                <path class="st2" d="M114.1,499.5v-58.9h5v58.9H114.1z" style="stroke-dasharray: 128, 130; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M130.5,491.2l3.3-3.8c3.8,4.4,10,8.6,18.4,8.6c12.1,0,15.5-6.7,15.5-11.7c0-17.3-35.3-8.3-35.3-28.9

                      c0-9.6,8.7-15.7,19.3-15.7c8.8,0,15.4,3.1,20,8.3l-3.4,3.7c-4.2-5.1-10.2-7.4-16.9-7.4c-7.9,0-13.8,4.5-13.8,10.9

                      c0,15.1,35.3,6.8,35.3,28.8c0,7.6-5,16.7-20.9,16.7C142.4,500.6,135,496.7,130.5,491.2z" style="stroke-dasharray: 296, 298; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M182.9,470.1c0-17.2,11.3-30.5,28.6-30.5c17.2,0,28.6,13.3,28.6,30.5c0,17.2-11.4,30.5-28.6,30.5

                      C194.2,500.6,182.9,487.3,182.9,470.1z M234.8,470.1c0-15-9.2-25.9-23.3-25.9c-14.3,0-23.3,10.9-23.3,25.9c0,14.8,9,25.9,23.3,25.9

                      C225.7,496,234.8,484.9,234.8,470.1z" style="stroke-dasharray: 344, 346; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M276.3,493l2.9-3.6c2.8,3.8,6.4,6.5,12.9,6.5c13,0,17.4-13.5,17.4-25.9c0-0.9,0-1.8,0-2.7

                      c-2.6,4.1-9.4,9.9-17.3,9.9c-10.6,0-19-6.2-19-18.7c0-9.6,7.2-18.8,19.8-18.8c15.9,0,21.6,14.7,21.6,30.5

                      c0,15.1-6.3,30.4-22.5,30.4C284.4,500.5,279.7,497.4,276.3,493z M309.1,462.5c-0.7-8-4.9-18.3-16-18.3c-10.1,0-14.8,7.8-14.8,14.1

                      c0,9.6,6.4,14.2,14.8,14.2C299.5,472.6,305.8,468.4,309.1,462.5z" style="stroke-dasharray: 335, 337; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M324.9,470.1c0-14,5.9-30.4,21.8-30.4c15.7,0,21.7,16.3,21.7,30.4c0,14-6,30.5-21.7,30.5

                      C330.8,500.6,324.9,484,324.9,470.1z M363,470.1c0-12.2-4-25.8-16.3-25.8c-12.5,0-16.5,13.6-16.5,25.8c0,12.1,4.1,25.9,16.5,25.9

                      C359,496,363,482.2,363,470.1z" style="stroke-dasharray: 305, 307; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M378.6,470.1c0-14,5.9-30.4,21.8-30.4c15.7,0,21.7,16.3,21.7,30.4c0,14-6,30.5-21.7,30.5

                      C384.5,500.6,378.6,484,378.6,470.1z M416.7,470.1c0-12.2-4-25.8-16.3-25.8c-12.5,0-16.5,13.6-16.5,25.8c0,12.1,4.1,25.9,16.5,25.9

                      C412.7,496,416.7,482.2,416.7,470.1z" style="stroke-dasharray: 305, 307; stroke-dashoffset: 0;"></path>
                                <path class="st2" d="M442,499.5v-52l-9.5,10.1l-3.1-3.3l13-13.7h4.6v58.9H442z" style="stroke-dasharray: 158, 160; stroke-dashoffset: 0;"></path>
                            </g>
                </svg>
                    </div>
                    <span>Сертифікація на відповідність вимогам міжнародного стандарту ISO 9001</span>
                </li>
                            <li>
                    <div class="img">
                        <svg version="1.1" id="mySVG3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-4.6 190.9 570.3 463.2" style="enable-background:new -4.6 190.9 570.3 463.2;" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: none;
                          stroke: #D96A43;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st1 {
                          fill: none;
                          stroke: #969696;
                          stroke-width: 4;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                      }

                      .st2 {
                          fill: none;
                          stroke: #969696;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                      }

                      .st3 {
                          fill: none;
                          stroke: #D96A43;
                          stroke-width: 4;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                      }

                      .st4 {
                          fill: #D96A43;
                      }

                      .st5 {
                          font-family: 'ProximaNova-Light';
                      }

                      .st6 {
                          font-size: 72px;
                      }
                  </style>
                            <g>
                                <path class="st0" d="M501.7,652.9c38.8-48.5,62-109.9,62-176.8c0-156.4-126.7-283.2-283.1-283.2S-2.6,319.7-2.6,476.1

                      c0,66.9,23.2,128.3,62,176.8" style="stroke-dasharray: 1272, 1274; stroke-dashoffset: 0;"></path>
                            </g>
                            <path class="st1" d="M217.8,594.2L217.8,620" style="stroke-dasharray: 26, 28; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M217.8,473.8L217.8,515.4" style="stroke-dasharray: 42, 44; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M217.8,620L342.8,620" style="stroke-dasharray: 125, 127; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M342.8,515.4L342.8,473.8" style="stroke-dasharray: 42, 44; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M342.8,620L342.8,594.2" style="stroke-dasharray: 26, 28; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M304.5,282.1c0,5.7-10.9,10.3-24.3,10.3c-12.3,0-22.5-3.9-24.1-9c-0.1-0.4-0.2-0.9-0.2-1.4

                    c0-5.7,10.9-10.3,24.3-10.3S304.5,276.4,304.5,282.1z" style="stroke-dasharray: 114, 116; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M296.5,282.1c0,3.8-7.3,6.9-16.2,6.9c-8.2,0-15.1-2.6-16.1-6c-0.1-0.3-0.1-0.6-0.1-0.9c0-3.8,7.3-6.9,16.2-6.9

                    C289.2,275.2,296.5,278.3,296.5,282.1z" style="stroke-dasharray: 76, 78; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M293.2,282.1c0,3.1-5.8,5.5-13,5.5c-6.6,0-12-2.1-12.9-4.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-3.1,5.8-5.5,13-5.5

                    S293.2,279.1,293.2,282.1z" style="stroke-dasharray: 61, 63; stroke-dashoffset: 0;"></path>
                            <path class="st2" d="M285.2,282.1c0,1.2-2.2,2.1-5,2.1c-2.5,0-4.6-0.8-4.9-1.8c0-0.1,0-0.2,0-0.3c0-1.2,2.2-2.1,5-2.1

                    S285.2,281,285.2,282.1z" style="stroke-dasharray: 24, 26; stroke-dashoffset: 0;"></path>
                            <path class="st3" d="M226.8,460L226.8,469.6" style="stroke-dasharray: 10, 12; stroke-dashoffset: 0;"></path>
                            <path class="st3" d="M333.7,459.4L333.7,468.8" style="stroke-dasharray: 10, 12; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M252.8,314.2L252.8,343.4" style="stroke-dasharray: 30, 32; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M307.7,314.2L307.7,343.4" style="stroke-dasharray: 30, 32; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M256,282.1L256,314.2" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M304.5,314.2L304.5,282.1" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                            <path class="st3" d="M226.8,469.6c3.4,11.2,26.1,20.4,53.2,20.4c29.5,0,53.7-8.6,53.7-21.2" style="stroke-dasharray: 122, 124; stroke-dashoffset: 0;"></path>
                            <path class="st3" d="M226.8,460C226.8,460,226.8,460,226.8,460c-5.7,4-9,8.7-9,13.8c0,1.2,0.2,2.3,0.5,3.5c4,13,30.2,23.1,62,23.1

                    c34.5,0,62.5-11.9,62.5-26.6c0-5-3.3-9.7-9-13.8" style="stroke-dasharray: 180, 182; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M252.8,324.3C252.8,324.3,252.8,324.3,252.8,324.3c-13.5,3.8-22.3,10.3-22.3,17.7c0,0.9,0.1,1.9,0.4,2.8

                    c3.2,10.4,24.1,18.4,49.3,18.4c27.5,0,49.8-9.5,49.8-21.2c0-7.4-8.8-13.9-22.3-17.7" style="stroke-dasharray: 177, 179; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M256,308.8C256,308.8,256,308.8,256,308.8c-2,1.6-3.2,3.5-3.2,5.5c0,0.5,0.1,1,0.2,1.5

                    c1.8,5.7,13.3,10.2,27.2,10.2c15.2,0,27.5-5.2,27.5-11.7c0-2-1.2-3.8-3.2-5.5" style="stroke-dasharray: 78, 80; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M230.9,344.7L230.9,467.8" style="stroke-dasharray: 124, 126; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M330,341.9L330,467.8" style="stroke-dasharray: 126, 128; stroke-dashoffset: 0;"></path>
                            <text transform="matrix(1 0 0 1 178.0503 579.2844)" class="st4 st5 st6">25 000</text>
                            <path class="st3" d="M230.9,450.7c-2.7,2.7-4.1,5.7-4.1,8.8c0,1,0.2,2,0.5,3c3.4,11.2,25.9,19.8,53,19.8c29.5,0,53.5-10.2,53.5-22.8

                    c0-3.1-1.1-5.9-3.7-8.6" style="stroke-dasharray: 145, 147; stroke-dashoffset: 0;"></path>
                </svg>
                    </div>
                    <span>Більш 25 000 марко-розмірів виробів власного виробництва</span>
                </li>
                            <li>
                    <div class="img">
                        <svg version="1.1" id="mySVG4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 570.3 463.2" style="enable-background:new 0 0 570.3 463.2;" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: none;
                          stroke: #D96A43;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }

                      .st1 {
                          fill: none;
                          stroke: #969696;
                          stroke-width: 4;
                          stroke-miterlimit: 10;
                      }
                  </style>
                            <g>
                                <path class="st0" d="M506.3,462.2c38.8-48.5,62-109.9,62-176.8C568.3,129,441.6,2.2,285.2,2.2S2,129,2,285.4

                      c0,66.9,23.2,128.4,62,176.8" style="stroke-dasharray: 1272, 1274; stroke-dashoffset: 0;"></path>
                            </g>
                            <g>
                                <path class="st0" d="M252.9,225.3L285.9,123.2L319.9,225.3L285.6,259.9Z" style="stroke-dasharray: 312, 314; stroke-dashoffset: 0;"></path>
                                <path class="st1" d="M251.9,303.2L284.9,405.3L318.9,303.2L284.6,268.6Z" style="stroke-dasharray: 312, 314; stroke-dashoffset: 0;"></path>
                                <path class="st1" d="M325,232.8L427.2,265.8L325,299.8L290.5,265.5Z" style="stroke-dasharray: 312, 314; stroke-dashoffset: 0;"></path>
                                <path class="st1" d="M245.3,231.5L143.2,264.5L245.3,298.5L279.9,264.2Z" style="stroke-dasharray: 312, 314; stroke-dashoffset: 0;"></path>
                            </g>
                </svg>
                    </div>
                    <span>Продукція заводу удостоєна нагороди за якість "Міжнародна Золота Зірка"</span>
                </li>
                    </ul>
        <div class="figure-line"></div>
    </div>

  <script>

       document.querySelectorAll('svg path').forEach((path, i) => {
      const length = path.getTotalLength();
      path.style.setProperty('--dasharray', length);
      path.style.strokeDasharray = length;
      path.style.strokeDashoffset = length;
      path.style.animation = 'draw 0.2s ease forwards';
      path.style.animationDelay = `${i * 0.1}s`; // задержка для каждого
    });
  </script>
</body>
</html>
