body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

a {
    color:#00abff;
    text-decoration:none;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
}

#sidebar {
    float:right;
    width:30%;
    padding:10px;
    background:#efefef;
    height:100%;
}

p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

.left {
    float:left;
    margin-right:10px;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}



/*#script for novaget */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #103d5a;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.topnav a {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  background-color: #103d5a;
  transition: background-color 0.3s ease-in-out;
}

/* Общие линии */
.topnav a::before,
.topnav a::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 100%;
  width: 1px;
  transform: translateY(-50%) scaleY(0.3);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: transparent; /* по умолчанию */
}

/* Правая линия у всех */
.topnav a::after {
  right: 0;
  background-color: #d96a43;
}

/* Левая линия — у всех, но активна только у первой */
.topnav a::before {
  left: -1px;
  background-color: #d96a43;
}



/* Наведение — все линии растут */
.topnav a:hover::after,
.topnav a:hover::before {
  transform: translateY(-50%) scaleY(1);
  background-color: #d96a43;
}

/* Цвет фона при наведении */
.topnav a:hover {
  background-color: #d96a43;
}



